.registerform{
    position: absolute;
    width: 700px;
    margin-left: 300px;
    margin-top: 100px;
}

.signup{
    position:absolute;
    margin-left: 48%;
    margin-top:50px;
}

#inp1 {
    width:690px;
    height:25px;
}

#inp2{
    width:690px;
    height:25px;
}

#inp3{
    width:690px;
    height:25px;
}

button{
    width:697px;
    height:30px;
    padding: 5px;
    background-color: rgba(59,113,203,255);
    color: white;
    border-style: none;


}
